<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/logistics</property>
        <property name="hibernate.connection.username">igor</property>
        <property name="hibernate.connection.password">overlord</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>

        <!-- Print executed SQL to stdout -->
        <property name="show_sql">false</property>

        <!-- Drop and re-create all database on startup -->
        <!--property name="hibernate.hbm2ddl.auto">create-drop</property-->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Annotated entity classes -->
        <mapping class="igor.project.entities.Type"/>
        <mapping class="igor.project.entities.Product"/>
        <mapping class="igor.project.entities.Port"/>
        <mapping class="igor.project.entities.Company"/>
        <mapping class="igor.project.entities.Shipment"/>
        <mapping class="igor.project.entities.Capacity"/>

    </session-factory>
</hibernate-configuration>